body {
    font-family: "Manrope-Medium", sans-serif;
    margin: 0;
    color: #18191f;
    box-sizing: border-box;
}

h1, h2, h3, h4, p {
    margin: 0;
}

.container {
    max-width: 1110px;
    margin: 0 auto;
}

.happy-block__left {
    background-color: #2EC5CE ;
    display: inline-block;
    box-sizing: border-box;
    vertical-align: middle;
    width: 540px;
    padding: 214px 95px 214px 0;
}

.happy-block__item {
    width: 445px;
}

h2 {
    font-size: 48px;
    font-weight: 800;
    margin-bottom: 8px;
}

p {
    font-size: 18px;
    font-weight: 400;
    line-height: 32px;
}

/*левый блок*/

.happy-block__right {
    width: 570px;
    margin-left: -4px;
    padding: 40px;
    box-sizing: border-box;
    display: inline-block;
    vertical-align: middle;
}

.happy-block__content {
    width: 490px;
    padding: 90px 0 90px 0;
    display: inline-block;
    position: relative;
}

.quotes {
    position: absolute;
    right: 0;
    top: 0;
}

.block-text__user {
    display: inline-block;
    width: 255px;
    margin-bottom: 24px;
}

.user-img {
    vertical-align: middle;
    display: inline-block;
}

.user-text {
    vertical-align: middle;
    display: inline-block;
}

.user {
    margin-right: 16px;
}

h3 {
    font-size: 18px;
    font-weight: 700;
}

span {
    font-size: 14px;
    font-weight: 400;
}

.icon {
    position: absolute;
    bottom: 0;
}

.arrow {
    position: absolute;
    right: 0;
    bottom: 0;
}